autostart
branches
cef_user_data
chromium
config
dconf
description
Electron
gtk-3.0
HEAD
hooks
htop
info
mimeapps.list
Nextcloud
objects
obsidian
obs-studio
onedrive
pulse
pulseaudio-ctl
QtProject.conf
refs
rofi
share
systemd
VIA
vlc
yay
nvim/plugged
__pycache__
index
index.lock
